*.out
argsend
argrecv
pargrcv
pargrecv
C/esami/2023-06-14/mdftest
C/esami/2023-06-14/mftdtest
C/esami/2023-06-14/tfdtest
C/esami/2023-06-14/tfdtest2
C/esami/2023-01-23/fifotext
C/execes
C/esami/2023-01-19/stdin2pipe
C/esami/2022-09-07/rilancia
C/esami/2021-06-24/dircat
